

:root {
    --bg: #fefefe;
    --card-bg: #ffffff;
    --text: #111827;
    --muted: #6b7280;
    --lightblue: #9dd2ff;
  }

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

.sidebar {
  width: 250px;
  height: 100vh;
  top: -1px;
  position: sticky;
  overflow: scroll;
  background-color: var(--lightblue);
  transition: .3s ease-in;
}

.container {
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
}

.pokemons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
}

.optoin-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.option {
  text-align: left;
  margin-left: 10px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.option a {
  text-decoration: none;
  font-size: 17px;
  line-height: 2em;
  color: var(--text);
}

.option-background {
  background-color: var(--card-bg);
}
.option:hover {
  background-color: var(--card-bg);
}