

:root {
    --bg: #fefefe;
    --card-bg: #ffffff;
    --text: #111827;
    --muted: #6b7280;
    --lightblue: #9dd2ff;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

.sidebar {
  width: 250px;
  height: 100vh;
  top: -1px;
  position: sticky;
  overflow: scroll;
}

.container {
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
}

.pokemons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
}


/* sidebar */

.optoin-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-right: 20px;
}

.option {
  text-align: left;
  margin-left: 10px;
  padding: 8px;
  padding-left: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: .15s ease-in;
  font-size: 17px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: var(--text);
}

.option-background {
  background-color: var(--card-bg);
}
.option:hover {
  background-color: var(--card-bg);
  padding-left: 30px;
}

.grass-sidebar {
  background-color: rgba(60, 179, 113, 0.5); /* mediumseagreen */
}

.poison-sidebar {
  background-color: rgba(147, 112, 219, 0.5); /* mediumpurple */
}

.fire-sidebar {
  background-color: rgba(218, 165, 32, 0.5); /* goldenrod */
}

.flying-sidebar {
  background-color: rgba(70, 130, 180, 0.5); /* steelblue */
}

.water-sidebar {
  background-color: rgba(30, 144, 255, 0.5); /* dodgerblue */
}

.bug-sidebar {
  background-color: rgba(165, 42, 42, 0.5); /* brown */
}

.normal-sidebar {
  background-color: rgba(128, 128, 128, 0.5); /* gray */
}

.ground-sidebar {
  background-color: rgba(205, 133, 63, 0.5); /* peru */
}

.fairy-sidebar {
  background-color: rgba(255, 105, 180, 0.5); /* hotpink */
}

.fighting-sidebar {
  background-color: rgba(220, 20, 60, 0.5); /* crimson */
}

.electric-sidebar {
  background-color: rgba(221, 189, 34, 0.5); /* hsl(51deg 73% 50%) converted to rgba */
}

.psychic-sidebar{
  background-color: rgba(255, 165, 0, 0.5); /* orange */
}

.rock-sidebar {
  background-color: rgba(105, 105, 105, 0.5); /* dimgray */
}

.ice-sidebar {
  background-color: rgba(0, 139, 139, 0.5); /* darkcyan */
}

.dragon-sidebar {
  background-color: rgba(102, 205, 170, 0.5); /* mediumaquamarine */
}

.ghost-sidebar {
  background-color: rgba(0, 0, 0, 0.5); /* black */
}

.dark-sidebar {
  background-color: rgba(112, 128, 144, 0.5); /* slategray */
}

.steel-sidebar {
  background-color: rgba(70, 130, 180, 0.5); /* steelblue */
}

.all-sidebar {
  background-color: rgba(105, 105, 105, 0.5); /* dimgray */
}

.white {
  background-color: var(--card-bg);
  padding-left: 30px;
}
